.medical-card-page{
    padding: 20px 5% 0 5%;
    display: grid;
    grid-template-columns: 313px auto;
    /* grid-template-rows: auto auto; */
}

.record-list-container{
    display: block;
    grid-column: 2;
    grid-row: 1 / span 2;
}

