.medical-card-page{
    padding: 20px 5% 0 5%;
    display: grid;
    gap: 10px;
}

.record-list-container{
    display: block;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.add-form-button {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.add-form-button:hover {
    background-color: rgba(50, 122, 195, 0.597);
    border: 1px solid rgba(50, 122, 195, 0.597);
    color: #fff;
}

.add-form-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(50, 122, 195, 0.597);
}