.error-message-img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 0 auto
}


.error-message-text{
    color: rgb(84, 84, 84);
    font-weight: bold;
    margin: 0;
    text-align: center
}

.lower{
    font-size: 20px
}

.upper{
    font-size: 30px
}