.container-patient-card {
    display: flex;
    margin: 16px 40px 0 40px;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    width: auto;
    background-color: #ffffff;
}

.container-patient-avatar {
    /* padding: 10px; */
    /* display: block */
}

.patient-medical-info{
    padding: 10px;
}

.container-patient-avatar img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.patient-info-ul {
    width: 50%;
    list-style: none;
    padding: 10px;
    text-align: left;
}

.patient-info-ul div{
    width: 40px;
}

.patient-info-li {
    margin-bottom: 8px;
}

@media (max-width: 600px) {
    .container-patient-card {
        flex-direction: column;
        width: 1%;
    }

    .container-patient-avatar,
    .patient-info-ul {
        flex: 1;
    }
}
