.patient-card{
    /* max-width: fit-content; */
    width: 100%;
    font-family: arial;
    background-color: #fff;
    margin: 0 0 10px 0;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.ready-patient-card{
    margin: auto;
}

.patient-avatar{
    display: block;
    margin: auto;
    margin-bottom: 8px;
    max-width: 250px;
    border-radius: 15px;
}

.patient-info-ul {
    list-style: none;
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
}

.patient-info-li {
    margin-bottom: 16px;
    padding: 0 8px 0 8px;
    font-weight: bold;
    font-size: 16px;
}

.exact-information-item{
    font-weight: normal;
    font-size: 18px;
    color: #555;
}
