.medical-record-item {
    list-style: none;
    padding: 10px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    display: block;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.medical-record-item:hover {
    background-color: #f3f3f3a4;
}

.medical-record-p{
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
}

.medical-record-p span{
    color: #555;
    font-weight: normal;
    font-size: 18px;
}

