.NavBar {
  
  background-color: rgba(50, 122, 195, 0.597);
  padding: 20px;
}
.display{
  display: none;
}

.display-none{
  display: none;
}

.navigationbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the items vertically */

}

.navigationbar-item {
  margin-right: 20px;
}

.navigationbar-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.main-page-li {
  font-size: 24px;
}

.default-li {
  font-size: 20px;
}

.navigationbar-item a:hover {
  color: #ffcc00; /* Change the color on hover as per your preference */
}
