

.menu-toggle {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Зміни для адаптивного меню */
.NavBar {
  background-color: rgba(44, 173, 65, 0.932);
  padding: 20px;
  position: relative;
}

.navigationbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: rgba(44, 173, 65, 0.932);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.navigationbar-item {
  margin-bottom: 20px;
}


.navigationbar-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navigationbar-item a:hover {
  color: #ffcc00;
}

.menu-open .navigationbar {
  transform: translateY(0);
}

.display {
  display: flex;
}

.display-none {
  display: none;
}

/* Зміни для більших екранів */
@media screen and (min-width: 600px) {
  .navigationbar {
    flex-direction: row;
    position: relative;
    top: 0;
    background-color: transparent;
  }

  .navigationbar-item {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .menu-toggle {
    display: none;
  }
}