.account-settings{
    font-family: Arial, sans-serif;
    margin: 10px 0;
    /* display: flex; */
    align-items:flex-start;
    /* justify-content: center; */
    height: 100vh;
    display: grid;
    gap: 6%;
    grid-template-columns: 0% 14% 57% 10%;
}

.profile-container {
    /* justify-content:right; */
    background-color: #aaaaaa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}

.profile-header {
    background-color: rgba(44, 173, 65, 0.932);
    color: #fff;
    text-align: center;
    padding: 15px;
}

.profile-form {
    padding: 20px;
}
.css-1oj2twp-MuiPagination-root {
    margin: 1%;
  }
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.form-group button {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.form-group button:hover {
    background-color: rgba(50, 122, 195, 0.597);
    border: 1px solid rgba(50, 122, 195, 0.597);
    color: #fff;
}

.form-group button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(50, 122, 195, 0.597);
}


/* ////////////////////////////////// */


.doctor-card{
    max-width: fit-content;
    width: 100%;
    font-family: arial;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ddd;
    display: flex;
    /* justify-content:center; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-left: -200%; */
}

.doctor-info-ul {
    list-style: none;
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
}

.doctor-info-li {
    margin-bottom: 16px;
    padding: 0 8px 0 8px;
    font-weight: bold;
    font-size: 0.95vw;
}

.exact-information-item{
        font-weight: normal;
        font-size: 0.95vw;
        color: #555;
}

.doctor-avatar{
    margin: auto;
    margin-bottom: 8px;
    max-width: 250px;
    border-radius: 15px;
}



.editButton{
    background-color: #fff;
  width: 330px;
  border: 1px solid #ddd;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  margin-top: 0.5%;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  
  /* Стилізація вмісту модального вікна */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    }
    @media screen and (min-width: 600px) {
        .doctor-card {
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;
        }
    }
    .log-out{
        margin-left:57%
    }
  /* Сховати кнопку закриття */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .appointment-block{height: auto;
    width: 1000px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;}

    .appointmentContainer{
        height: 100%;
        width: 100%;
    }
    .appointmentContainer ul{
        margin-left: 10%;
    }
    .medical-record-item {
        list-style: none;
        padding: 10px;
        padding-bottom: 2px;
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #fff;
        display: block;
        transition: background-color 0.3s, color 0.3s, border 0.3s;
        width: 40%;
        display: inline flow-root list-item
    }
    
    .medical-record-item:hover {
        background-color: #f3f3f3a4;
    }
    
    .medical-record-p{
        font-weight: bold;
        font-size: 16px;
        margin: 0;
        margin-bottom: 8px;
    }
    
    .medical-record-p span{
        color: #555;
        font-weight: normal;
        font-size: 18px;
    }
    .MuiPagination-ul{
        justify-content: center;
    }
    .card {
        font-weight: 400;
        border: 0;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      }
      .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,0.03);
        border-bottom: 1px solid rgba(0,0,0,0.125);
      }
      .list-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: .25rem;
        margin-top: 0;
      }
      .list-group-flush {
        border-radius: 0;
      }
      .list-group-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.125);
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px;
          transition: background-color 0.5s ease; /* Властивість transition для плавного змінення background-color протягом 0.5 секунди з ефектом ease */
      }
      .list-group-item:hover {
        background-color:#e5e3e3
      }

      .list-group-flush > .list-group-item {
        border-width: 0 0 1px;
      }