.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  animation-name: animaopen;
  animation-duration: 0.4s
}

@keyframes animaopen {
  from    { opacity: 0; }
  to  { opacity: 1; }
}

.modal-main {
  position: fixed;
  background: white;
  width: auto;
  height: auto;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
  animation-name: animaclose;
  animation-duration: 0.4s
}

@keyframes animaclose {
  from    { opacity: 1; }
  to  { opacity: 0; }
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}