.back-button{
  padding: 10px 30px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgba(174, 174, 174, 0.825);
  background-color: rgb(130, 130, 130);
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff; 
}

.back-button:hover{
  background-color: rgb(90, 90, 90);;
}

.form-button-submit{
  /* float: left; */
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /* color: #fff;  */
  background-color: #bfbfbf;
  border: 1px solid;
  border-radius: 10px;
  transition: background-color 0.5s ease
}

.label-for-button{
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #333; /* Колір тексту */
  margin-bottom: 5px;
  display: block;
  margin-left: 15px;
}

.one-sort-button{
  padding: 7px 30px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid rgba(179, 131, 131, 0.825);
  background-color: rgb(146, 80, 80);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff; 
}

.one-sort-button:hover{
  background-color: rgb(99, 54, 54);
}

.button-list{
  margin-left: 15px;
  margin-bottom: 20px;
}

.add-record-button:hover{
  background-color: rgb(43, 91, 49);
}

.add-record-button{
  margin-left: 15px;
  margin-bottom: 20px;
  padding: 7px 30px;
  border-radius: 5px;
  border: 1px solid rgba(140, 179, 131, 0.825);
  background-color: rgb(60, 125, 68);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff; 
}