.goback-button{
    background-color: rgb(212, 212, 212);
    max-width:fit-content;
    border: 1px solid rgba(44, 173, 65, 0.825);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;;
}
.form-button-submit{
    float: left;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  background-color: #bfbfbf;
  border-color: #e5e5e6;
  border: 1px solid;
  border-radius: 10px;
  transition: background-color 0.5s ease
}