.active-disease{
    border: 3px solid rgb(255, 0, 0);
    border-radius: 15px;
}

.closed-disease{
    border: 3px solid rgb(21, 255, 0);
    border-radius: 15px;
}
.desease-container{
    border: 1px solid #cecece;
    border-radius: 10px;
    padding: 10px;
}
.badge{
    display: block;
    float: right;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    width: 80px;
  }
 
.badge-success{
    color: #fff;
    background-color: #28a745;
}
.badge-danger{
    color: #fff;
  background-color: #dc3545;
}
.card-topic{
    text-align: center;
    font-size: 30px;
}

.endDiseaseButton{
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  background-color: #bfbfbf;
  border-color: #e5e5e6;
  border: 1px solid;
  border-radius: 10px;
  transition: background-color 0.5s ease
}
.endDiseaseButton:hover{
    background-color: #9e9e9e;
}