.add-button-width {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    border: 1px solid rgba(174, 174, 174, 0.825);
    background-color: rgb(130, 130, 130);
    border: 1px solid;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    width: 100%;
}