.container-patient-list {
    padding: 0;
    margin: 3% 3% 0 3%
}

.patient-list {
    padding: 0;
    margin: 0
}

.container-header {
    background-color: rgba(50, 122, 195, 0.597);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 75px 2fr 2fr 2fr;

}

.error-message-list {
    color: rgb(84, 84, 84);
    text-align: center;
    margin-top: 20px;
  }

.container-header-item {
    font-size: 20px;
    float: left;
    color: white;
    margin-left: 2%;
}

.image-item{
    width: 50px;
    margin-right: 15px;
}